@model IEnumerable<QienUrenMVC.Models.HoursPerDayModel>
@ViewBag.FormId
@{
    ViewData["Title"] = "HoursRegistration";
            Layout = "~/Views/Shared/_LayoutEmployee.cshtml";

}

<h1>UrenRegistratie</h1>

<form asp-controller="Employee" asp-action="HoursRegistration" method="post">
    <input type="hidden" name="formid" value="@ViewBag.FormId" />
    <table width="600px">
        <thead>
            <tr>
                <th>Dag</th>
                <th>Uren</th>
                <th>Opdrachtgever</th>
                <th>Ziek</th>
                <th>Overtime</th>
                <th>Leave</th>
                <th>Other</th>
                <th>Reasoning</th>
            </tr>
        </thead>
        @Html.EditorForModel()
    </table>
    <button type="submit">Bewaren</button>
    <button type="submit" asp-route-versturen="true" asp-route-id="formid">Bewaren en versturen</button>
</form>
