<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UrenProjectQien</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <div class="navbar topbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/QienLogo.png" height="100" /></a>
        </div>

    </header>

    <div class="container picture">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("head", required: false);
        </main>
    </div>

    <div class="footerlogin"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/cea2a8d7e1.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
