@page
@model LoginModel
@section head{
    <style type="text/css">
        body {
            background-image: url('/Images/unsplash-background.png');
            margin: 0;
            background-size: cover;
        }
    </style>
}
<body class="picture">
    <div class="logincontainer">
        
        <div class="outside-loginform">
            
            <div class="inside-loginform">
                
                <section>
                    <h1>Login</h1>
                    <form id="account" method="post">

                        <div class="form-login textbox">

                            <i class="fas fa-user"></i>
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-login" />
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="form-login textbox">
                            <i class="fas fa-lock"></i>
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-login" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <br />
                        <div class="form-login checkerbox">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="form-login">
                            <button type="submit" class="btnts btn-login">Inloggen</button>
                        </div>
                        <div class="form-login">
                            <p>
                                <a class="forgotpass" id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
