@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Wachtwoord gewijzigd";
}

<h1>@ViewData["Title"]</h1>
<p>
    Je wachtwoord is gewijzigd. Klik hier <a asp-page="./Login">om in te loggen</a>.
</p>
