@model QienUrenMVC.Models.ClientModel

@{
    ViewData["Title"] = "Nieuwe opdrachtgever aanmaken";
     Layout = "~/Views/Shared/_LayoutEmployee.cshtml";

}

<div class="row">
    <form asp-controller="Client" asp-action="CreateClient" method="post" class="col-md-12">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="kaartheader">
            <h3>Nieuwe opdrachtgever aanmaken</h3>
        </div>
        <div class="kaartinhoud">
        <div class="row" style="margin-top:50px;">
            <div class="col">
                <div class="form-group">
                    <label>Naam van het bedrijf</label>
                    <input class="form-control" asp-for="CompanyName" />
                    <span asp-validation-for="CompanyName"></span>
                </div>
            </div>
        </div>
        @*<div class="row" style="margin-top:30px;">
            <div class="col">
                <div class="form-group">
                    <label asp-for="AccountId"></label>
                    <input class="form-control" asp-for="AccountId" />
                    <span asp-validation-for="AccountId"></span>
                </div>
            </div>
        </div>*@
        <div class="row" style="margin-top:30px;">
            <div class="col">
                <div class="form-group">
                    <label>Contactpersoon 1</label>
                    <input class="form-control" asp-for="ClientName1" />
                    <span asp-validation-for="ClientName1"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>E-mailadres</label>
                    <input class="form-control" asp-for="ClientEmail1" />
                    <span asp-validation-for="ClientEmail1"></span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col">
                <div class="form-group">
                    <label>Contactpersoon 2</label>
                    <input class="form-control" asp-for="ClientName2" />
                    <span asp-validation-for="ClientName2"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>E-mailadres</label>
                    <input class="form-control" asp-for="ClientEmail2" />
                    <span asp-validation-for="ClientEmail2"></span>
                </div>
            </div>
        </div>
        </div>
        <div style="margin-top:40px;" class="form-group">
            <input type="submit" value="Opslaan" class="btn btn-login" />
        </div>
        <p>
            <a href="GetAllClients" style="color:#9A33F8">Terug</a>
        </p>
    </form>
</div>
